<!-- <input id="autocomplete" placeholder="enter a place" type="text" #autocomplete/> -->
<!-- <button class="btn btn-primary" (click)="initGoogle()">Init</button> -->
<div class="position-relative">
    <app-login></app-login>
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-3">
        <app-sidebar></app-sidebar>
      </div> -->
            <div class="col">
                <google-map
                    height="100vh"
                    width="100%"
                    [zoom]="zoom"
                    [center]="center"
                    [options]="options"
                ></google-map>
            </div>
            <div class="w-100"></div>
        </div>
    </div>
</div>
