<div class="position-relative">
    @if((isLoggedIn)) {
    <div
        class="btn-group z-1 start-50 bottom-0 translate-middle position-absolute gap-5"
    >
        <button
            type="button"
            class="btn btn-primary btn-sm rounded-circle p-4 rounded-pill"
            (click)="logout()"
        >
            <fa-icon type="button" [icon]="faSignOut" size="5x"></fa-icon>
        </button>
        <button
            type="button"
            class="btn btn-primary btn-sm rounded-circle p-4 rounded-pill"
            (click)="addEvent()"
        >
            <fa-icon type="button" [icon]="faPlus" size="5x"></fa-icon>
        </button>
    </div>
    } @else {
    <button
        type="button"
        class="btn btn-primary btn-sm rounded-circle p-4 z-1 start-50 bottom-0 translate-middle rounded-pill position-absolute"
        (click)="openModal()"
    >
        <fa-icon type="button" [icon]="faUserLarge" size="5x"></fa-icon>
    </button>
    }
    <app-login #loginForm></app-login>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <google-map
                    #map
                    height="100vh"
                    width="100%"
                    [zoom]="zoom"
                    [center]="center"
                    [options]="mapOptions"
                >
                    @for (event of events$ | async; track event.id) {
                    <map-advanced-marker
                        [position]="event.position"
                        (mapClick)="onMarkerClicked(event)"
                    ></map-advanced-marker>
                    }
                </google-map>
            </div>
            <div class="w-100"></div>
        </div>
    </div>
</div>
