<div class="container">
    <h2 mat-dialog-title class="m-3">Create an Event</h2>
    <form class="m-3" [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field>
            <mat-label>Test Input field</mat-label>
            <input
                matInput
                placeholder="Placeholder"
                value="Test value"
                formControlName="title"
            />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Location</mat-label>
            <input
                type="text"
                placeholder="Pick one"
                aria-label="Location"
                matInput
                [formControl]="address"
                [matAutocomplete]="location"
            />
            <mat-autocomplete
                [displayWith]="displayFn"
                #location="matAutocomplete"
            >
                @for (location of searchResultObs | async; track
                location.placeId) {
                <mat-option [value]="location">{{
                    location.formattedAddress
                }}</mat-option>
                }
            </mat-autocomplete>
        </mat-form-field>
        <button class="btn btn-primary mb-3" type="submit">
            {{ isEditMode ? "Update" : "Save" }}
        </button>
    </form>
</div>
